* {
    box-sizing: border-box;
}
.container1180 {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
}

.flexJustifyBetween {
    justify-content: space-between;
}

.flexAlignItemsCenter {
    align-items: center;
}
header{
    background-color: #f3f2f2;
}
header .hmItem {
    font-size: 14px;
    color: #000;
    font-family: "interbold_italic";
    margin-left: 55px;
    padding: 35px 0;
}

a{
  color: #000;
  text-decoration: unset;  
}



header .topLogo {
  min-width: 140px;
  width: 140px;
  text-decoration: unset;
  color: #000;
}

header .topLogo img {
  display: block;
  max-height: 26px;
  width: 100%;
}


/* //added */

.container1180 {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
  }
  .container800 {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  .container700 {
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
  }

  .myButton{
    border: none;
    background-color:#f3f2f2;
  }
  .autocenter{margin: 0 auto;}
  .textCenter { text-align: center !important }
  .p9000 { padding-top: 90px; padding-bottom: 0; }
  .p3000 { padding-top: 30px; padding-bottom: 0; }
  /* FLEX */
  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .flexResponsive768 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .flex1 {
    flex: 1;
  }

  .flex7 {
    flex: 7;
  }
  .flexJustifyBetween {
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
  }
  .flexAlignItemsCenter {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* FLEX */
  .flexCent2 {
    width: 2%;
  }

.heroBanner .hbImg{ 
  width: 100%; 
  height: 80vh; 
  object-fit: 
  cover; 
  display: block;
}


.heroBanner .hbBtnSec{ 
  text-align: center; 
  margin-top: 40px;
}


.heroBanner .hbBtnSec .hbBtn{ 
  background-color: rgb(0, 175, 245); 
  color: rgb(255, 255, 255);
  padding: 15px 52px; 
  border-radius: 28px;  
  display: inline-block; text-decoration: none; font-size: 20px;
}

.form .frmField{ 
  width: 100%; 
  padding: 10px 20px;
  color: #707D80; 
  font-size: 24px;    
  border: none;  
  background: #EDEDED; 
  outline: none; 
  margin-bottom: 20px;
}

.form .frmBtn{cursor: pointer;
  padding: 12px 40px; 
  font-size: 20px; 
  background-color: rgb(0, 175, 245); 
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 25px; 
  margin-top: 40px;
}

.rideCard { 
  border-radius: 12px; 
  background: #E8E8E8;  
  padding: 20px 40px;
  margin-bottom: 15px;
}

.rideCard .rcImg{
  border-radius: 100%;
  height: 40px;
}

.rideCard .rcLabel{
  color: #054752; font-size: 18px; 
  line-height: 20px; 
  margin-bottom: 10px;
}

.rideCard .rcAmt{font-size: 18px; 
  line-height: 20px; 
  color: #5DD167; 
  font-weight: bold;
}

.rideCard .rcLink{
  font-size: 18px; 
  line-height: 20px; 
  color: #5DD167; 
  font-weight: bold;
  text-decoration: none;
}
