:root{
    --primary-color:#000000;
    --secondary-color:#FFFFFF;
    --primary-font:arial;
    --background-color:#FFFFF;
}

.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}