:root{
    --primary-color:#000000;
    --secondary-color:#FFFFFF;
    --primary-font:arial;
    --background-color:#FFFFF;
}


.header{
    display: flex;
    margin: 25px 0;
    /* justify-content: space-between; */
}

.menu-header{
    display: inline;
    justify-content: flex-start;
}
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 3px;
}

.title{
    font-size: 48px;
    margin: -14px 56px;
    justify-content: flex-end;
}

.search-area{
    margin:40px opx;
}

.pick-up, .drop{
    /* background-color: #fffdfddb; */
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.search-ride{
    display: flex;
    justify-content: center;
    margin-top: 90%;
}


.search-for-partner{
    width: 80%;
}